<div th:fragment="permit_perm" xmlns:th="http://www.thymeleaf.org">
    <style>
        .license_perm {
            height: 300px;
            width: 300px;
            background-color: #d46377;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
        }

        .text_circle {
            font-size: 15px;
            padding-top: 80px;
        }

    </style>
    <div class="license_perm">
    <br>
    <div class = "text_circle">
        <strong><span>TTS</span></strong>
        <br>
        <strong><span>VEHICLE EXEMPTION PERMIT</span></strong>
        <br>
        <br>
        <span  th:text="'Permit Number: ' + ${permit_number}" ></span>
        <br>
        <span  th:text="'License Holder: ' + ${recipient_name}"></span>
        <br>
        <span th:text="'Registration Number: ' + ${registration_number}" ></span>
        <br>
        <span th:text="'Expiry Date: ' + ${end_date}"></span>
        <br>
    </div>
</div>
</div>
