<div th:fragment="signature" xmlns:th="http://www.thymeleaf.org">
    <table>
        <tr>
            <td>
                For and on behalf of the
                <br>
                Inspector of Motor Traffic
            </td>

        </tr>
        <tr>
            <td class="left"><img src="images/Electronic-Signature.png" style="width:136.3px;height:80.59px;"></td>
        </tr>
        <tr>
        <td>
         <strong>John Doe</strong>
          <br>
         Motor Traffic Officer
        </td>
        </tr>
    </table>
</div>