<div th:fragment="SOJ_curve" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <style>
        .text {
            position: fixed;
            width: 275px;
            height:150px;
            padding-left: 200px;
            margin-top: 0;
            padding-top: 0;
            font-size: 20px;
        }
        .text span {
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 150px;
            padding: 1px;
            width:20px;
            margin-left: -100px;
            line-height: 280px; /* height*2 - font-size */
            text-align: center;
            transform-origin: top center;
            border: 1px solid red;
        }

        .inverso {
            font-weight: bold;
        }
        .inverso span {
            line-height: 70px;
            transform-origin: bottom center;

        }

        .text span:nth-of-type(1)  {
            transform: rotate(-45deg);
        }
        .text span:nth-of-type(2)  {
            transform: rotate(-40deg);
        }
        .text span:nth-of-type(3)  {
            transform: rotate(-35deg);
        }
        .text span:nth-of-type(4)  {
            transform: rotate(-30deg);
        }
        .text span:nth-of-type(5)  {
            transform: rotate(-25deg);
        }
        .text span:nth-of-type(6)  {
            transform: rotate(-20deg);
        }
        .text span:nth-of-type(7)  {
            transform: rotate(-12deg);
        }
        .text span:nth-of-type(8)  {
            transform: rotate(-10deg);
        }
        .text span:nth-of-type(9)  {
            transform: rotate(-4deg);
        }
        .text span:nth-of-type(10)  {
            transform: rotate(3deg);
        }
        .text span:nth-of-type(11)  {
            transform: rotate(10deg);
        }
        .text span:nth-of-type(12)  {
            transform: rotate(15deg);
        }
        .text span:nth-of-type(13)  {
            transform: rotate(20deg);
        }
        .text span:nth-of-type(14)  {
            transform: rotate(25deg);
        }
        .text span:nth-of-type(15)  {
            transform: rotate(30deg);
        }
        .text span:nth-of-type(16)  {
            transform: rotate(35deg);
        }
        .text span:nth-of-type(17)  {
            transform: rotate(110deg);
        }
        .text span:nth-of-type(18)  {
            transform: rotate(116deg);
        }
        .text span:nth-of-type(19)  {
            transform: rotate(122deg);
        }
        .text span:nth-of-type(20)  {
            transform: rotate(128deg);
        }
        .text span:nth-of-type(21)  {
            transform: rotate(134deg);
        }
        .text span:nth-of-type(22)  {
            transform: rotate(140deg);
        }
        .text span:nth-of-type(23)  {
            transform: rotate(146deg);
        }
        .text span:nth-of-type(24)  {
            transform: rotate(152deg);
        }
        .text span:nth-of-type(25)  {
            transform: rotate(158deg);
        }
        .text span:nth-of-type(26)  {
            transform: rotate(164deg);
        }
        .text span:nth-of-type(27)  {
            transform: rotate(170deg);
        }
        .text span:nth-of-type(28)  {
            transform: rotate(176deg);
        }
        .text span:nth-of-type(29)  {
            transform: rotate(182deg);
        }
        .text span:nth-of-type(30)  {
            transform: rotate(188deg);
        }
        .text span:nth-of-type(31) {
            transform: rotate(194deg);
        }
        .text span:nth-of-type(31) {
            transform: rotate(-178deg);
        }
        .text span:nth-of-type(32) {
            transform: rotate(-172deg);
        }
        .text span:nth-of-type(33) {
            transform: rotate(-166deg);
        }
        .text span:nth-of-type(34) {
            transform: rotate(-160deg);
        }
        .text span:nth-of-type(35) {
            transform: rotate(-154deg);
        }
        .text span:nth-of-type(36) {
            transform: rotate(-148deg);
        }
        .text span:nth-of-type(37) {
            transform: rotate(-142deg);
        }
        .text span:nth-of-type(38) {
            transform: rotate(-136deg);
        }
        .text span:nth-of-type(39) {
            transform: rotate(-130deg);
        }
        .text span:nth-of-type(40) {
            transform: rotate(-124deg);
        }
        .text span:nth-of-type(41) {
            transform: rotate(-118deg);
        }
        .text span:nth-of-type(42) {
            transform: rotate(-112deg);
        }
        .text span:nth-of-type(43) {
            transform: rotate(-106deg);
        }
        .text span:nth-of-type(44) {
            transform: rotate(-100deg);
        }

        .license_perm {
            height: 300px;
            width: 300px;
            background-color: #d46377;
            border-radius: 75%;
            vertical-align: middle;
            text-align: center;
        }



    </style>
    <div class="license_perm">
        <div class ="text inverso">
            <span>S</span>
            <span>T</span>
            <span>A</span>
            <span>T</span>
            <span>E</span>
            <span>S</span>
            <span>&nbsp;</span>
            <span>O</span>
            <span>F</span>
            <span>&nbsp;</span>
            <span>J</span>
            <span>E</span>
            <span>R</span>
            <span>S</span>
            <span>E</span>
            <span>Y</span>
        </div>
        <div class="text">
            <span>&nbsp;</span>
            <span>D</span>
            <span>R</span>
            <span>A</span>
            <span>D</span>
            <span>N</span>
            <span>A</span>
            <span>T</span>
            <span>S</span>
            <span>&nbsp;</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>I</span>
            <span>H</span>
            <span>E</span>
            <span>V</span>
            <span>&nbsp;</span>
            <span>D</span>
            <span>N</span>
            <span>A</span>
            <span>&nbsp;</span>
            <span>R</span>
            <span>E</span>
            <span>V</span>
            <span>I</span>
            <span>R</span>
            <span>D</span>
        </div>

    </div>
</div>