<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta>
<meta charset="UTF-8"/>
</meta>
<title>Permit Declined</title>
</head>
<h5 class="centre">Dear</h5><div class="centre" th:text="${recipient_name}"></div>

Thank you for your P30 permit application.

Unfortunately this has been declined, if you have any queries please contact DVS at 456464.

<p>The following comments have been provided:</p><div th:text="${comment}"></div>

Application Ref Number : <div th:text="${docUUID}"></div>
</html>